#daftarHargaBuah {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#daftarHargaBuah td, #daftarHargaBuah th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: tomato;
}

#daftarHargaBuah th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: gray;
  
}

#title {
  text-align: center;
}