@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Red Rose', cursive;
    background-color:#efefef;
}

#navbar {
    width: 100%;
    background-color:white ;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.9)
}



ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    
    
}

ul li {
    
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    transition: .5s;
    background-color: white;
    
   
}

ul li:hover {
    background-color: turquoise;
    color: black;
}

a {
    position: relative;
    text-decoration: none;
    color: black;
    
}

span {
    color: turquoise;
    
}

span:hover {
    color: black;
}

.toggle {
    
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    color: black;
    font-size: 30px;
    display: none;
}

@media (max-width:768px) {

    .toggle {
        display: block;
    }

    ul {
        width: 100%;
        display: none;
        height: 50px;
       
        
    }
     ul li {
         display: block;
         text-align: center;
     }
     
.active {
    display: block;
}


}