table{
    width: 100%;    
}

th {
    background-color: gray;
}

tr {
   background-color: tomato;
   text-align: center;
}

h1 {
    text-align: center;
}

#content-form{  
    display: flex;
}

form{
    margin: auto;
}

